.hide {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-1 {
  flex: 1;
}

.full-height {
  min-height: 100vh;
}